@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Sen&display=swap");

/* -------------------- ROOT VARIABLES -------------------- */

:root {
  --color-theme-dark: #000035;
  --color-theme-light: #0099ff;
  --about-icon-anim-time: 8s;
}

/* -------------------- ENTIRE DOCUMENT -------------------- */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Sen", sans-serif;
}

p {
  font-size: 22px;
}

.page-color {
  background-color: var(--color-theme-dark);
}

.wrapper {
  display: flex;
  justify-content: center;
}

.margin-bottom {
  margin-bottom: 40px;
}

.hvr-underline-reveal:before {
  background: var(--color-theme-light) !important;
}

/* -------------------- PRELOADER -------------------- */

.preloader-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-theme-dark);
  z-index: 100;
}

.preloader {
  width: 10%;
  position: absolute;
}

.preloader.ring1 {
  width: 12%;
  animation: spin 2s linear infinite;
}

.preloader.ring2 {
  width: 11%;
  animation: spin 1.75s linear infinite;
}

.preloader.ring3 {
  width: 10%;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* -------------------- FLAIRS -------------------- */

.flair img {
  position: absolute;
  opacity: 0.95;
  z-index: -100;
}

.flair-home-1 {
  width: 8%;
  top: 110%;
  left: 10%;
}

.flair-home-2 {
  width: 8%;
  top: 120%;
  right: 5%;
}

.flair-home-3 {
  width: 5.5%;
  top: 162%;
  left: 20%;
}

.flair-home-4 {
  width: 12%;
  top: 185%;
  right: 5%;
}

.flair-home-5 {
  width: 8%;
  top: 210%;
  left: 3%;
}

.flair-home-6 {
  width: 8%;
  top: 260%;
  right: 3%;
}

.flair-home-7 {
  width: 10%;
  top: 310%;
  left: 10%;
}

.flair-about-1 {
  width: 12%;
  top: 35%;
  left: 12%;
}

.flair-about-2 {
  width: 5.5%;
  top: 15%;
  right: 10%;
}

.flair-about-3 {
  width: 8%;
  top: 65%;
  right: 15%;
}

.flair-about-3 {
  width: 8%;
  top: 65%;
  right: 15%;
}

.flair-about-4 {
  width: 8%;
  top: 120%;
  left: 8%;
}

.flair-about-5 {
  width: 8%;
  top: 180%;
  right: 8%;
}

@media (max-width: 768px) {
  .flair {
    display: none;
  }
}

/* -------------------- NAVIGATION BAR -------------------- */

.navbar {
  padding: 0.8rem;
  font-family: "Sen", sans-serif;
}

.navbar-logo {
  width: 45px;
}

.navbar-bg {
  background-color: var(--color-theme-dark);
}

.navbar-nav li {
  padding-right: 28px;
}

.nav-link {
  font-size: 22px !important;
  color: white !important;
}

.nav-link:hover {
  color: white !important;
}

.navbar-toggler {
  background-color: white !important;
}

/* -------------------- FANCY TITLE LINES -------------------- */

.hr-text {
  height: 1.5em;
  position: relative;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 1em;
  outline: 0;
  border: 0;
}

.hr-text::before {
  content: "";
  width: 100%;
  height: 4px;
  top: 50%;
  left: 0;
  position: absolute;
  background: linear-gradient(to right, transparent, white, transparent);
}

.hr-text::after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: white;
  background-color: var(--color-theme-dark);
}

/* -------------------- BUTTONS -------------------- */

.page-btn {
  margin: 15px;
  padding: 12px 2em;
  border: none;
  border-radius: 25px;
  font-size: 1.25em;
  font-weight: 500;
  text-decoration: none;
  color: white;
  background: var(--color-theme-light);
}

/* -------------------- HOME BANNER -------------------- */

.main-banner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.banner-text {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
}

.banner-text h1 {
  font-size: 150px;
  font-weight: 700;
}

.banner-text h2 {
  font-size: 60px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .banner-text h1 {
    font-size: 60px;
  }
  .banner-text h2 {
    font-size: 30px;
  }
}

/* /////////////////////////////////////////// HOME PAGE /////////////////////////////////////////// */

/* -------------------- VIDEO BACKGROUND -------------------- */

.video-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.video-filter {
  width: 100%;
  height: 100%;
  position: absolute;
  background: black;
  opacity: 60%;
}

/* -------------------- ABOUT ME -------------------- */

.about-me-avatar {
  width: 250px;
}

.about-me-container {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 15px;
  text-align: center;
  background: white;
  color: var(--color-theme-dark);
}

.about-me-container p {
  padding: 50px 25px;
  font-size: 20px;
  font-weight: 600;
}

.about-me-avatar-hand-left,
.about-me-avatar-hand-right {
  width: 50px;
  bottom: -17.5px;
  position: absolute;
}

.about-me-avatar-hand-left {
  right: 40%;
}

.about-me-avatar-hand-right {
  left: 40%;
}

@media (max-width: 768px) {
  .about-me-avatar-hand-left {
    /* transform: rotate(-90deg);
        top: 35px;
        right: -21px; */
    display: none;
  }
  .about-me-avatar-hand-right {
    /* transform: rotate(90deg);
        top: 35px;
        left: -21px; */
    display: none;
  }
  .bubble-icon {
    width: 70px !important;
  }
}

.about-me-animation-container {
  width: 100%;
  height: 300px;
  position: absolute;
}

.bubble-icon {
  width: 100px;
  position: absolute;
  opacity: 0;
}

.about-img-1 {
  left: 10%;
  animation: bubble-float var(--about-icon-anim-time) infinite 1s ease-in;
}

.about-img-2 {
  left: 20%;
  animation: bubble-float var(--about-icon-anim-time) infinite 2s ease-in;
}

.about-img-3 {
  left: 30%;
  animation: bubble-float var(--about-icon-anim-time) infinite 0s ease-in;
}

.about-img-4 {
  right: 30%;
  animation: bubble-float var(--about-icon-anim-time) infinite 0.5s ease-in;
}

.about-img-5 {
  right: 20%;
  animation: bubble-float var(--about-icon-anim-time) infinite 2.5s ease-in;
}

.about-img-6 {
  right: 10%;
  animation: bubble-float var(--about-icon-anim-time) infinite 1.5s ease-in;
}

@keyframes bubble-float {
  0% {
    bottom: -90px;
    transform: translateX(0);
    opacity: 1;
  }
  33% {
    transform: translateX(10px);
  }
  66% {
    transform: translateX(-10px);
  }
  90% {
    opacity: 1;
  }
  100% {
    bottom: 75%;
    transform: translateX(0);
    opacity: 0;
  }
}

/* -------------------- MY PROJECTS -------------------- */

.overlay-card {
  width: 1200px;
  height: 350px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-theme-dark);
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s all;
}

.overlay-card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.overlay-card::before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  display: block;
  background: linear-gradient(rgba(0, 0, 53, 0.9), rgba(0, 153, 255, 1));
  transition: 0.5s all;
  opacity: 0;
  z-index: 2;
}

.overlay-card:hover::before {
  opacity: 1;
}

.overlay-card img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.overlay-card .overlay-card-info {
  width: 100%;
  height: 100%;
  color: white;
  opacity: 0;
  transition: 0.5s all;
  z-index: 5;
}

.overlay-card:hover .overlay-card-info {
  opacity: 1;
}

.overlay-card-info-title {
  width: 95%;
  height: 350px;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
}

.overlay-card-info-title h1 {
  font-size: 65px;
  font-weight: 700;
}

.overlay-card-info-title h3 {
  font-size: 20px;
  opacity: 0.75;
}

.overlay-card-info-bar {
  width: 3px;
  height: 300px;
  top: 10px;
  left: 50%;
  position: absolute;
  background: white;
}

.overlay-card-info-description {
  width: 95%;
  height: 350px;
  top: 0;
  right: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}

.overlay-card-info-description p {
  font-size: 22px;
}

@media (max-width: 992px) {
  .overlay-card-info-title {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .overlay-card-info-bar {
    display: none;
  }
  .overlay-card-info-description {
    display: none;
  }
}

/* -------------------- INTERESTS -------------------- */

/* .interest-card {
    width: 450px;
    height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-theme-light);
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s all;
}

.interest-card img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
    transition: 0.5s all;
    opacity: 0;
}

.interest-card img:hover {
    opacity: 1;
    cursor: pointer;
}

.interest-card:hover {
    transform: translateY(-5px);
}

.interest-card-title {
    color: white;
} */

/* -------------------- FOOTER -------------------- */

.connect a {
  padding-left: 36px;
  padding-right: 36px;
  font-size: 60px;
  color: white;
}

.connect a:hover {
  color: var(--color-theme-light);
}

footer h3 {
  margin-top: 50px;
  font-size: 20px;
  color: white;
}

@media (max-width: 992px) {
  .connect a {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    font-size: 36px;
  }
}

/* /////////////////////////////////////////// ABOUT PAGE /////////////////////////////////////////// */

.about-skills h3 {
  display: inline-block;
  color: white;
  padding: 3px 8px;
  border-radius: 8px;
  background-color: var(--color-theme-light);
}

.hide-small {
  display: inline-block;
}

.about-content p {
  text-align: left;
  color: white;
}

.portrait {
  width: 450px;
  float: right;
  padding: 0px 10px;
}

@media (max-width: 768px) {
  .portrait {
    width: 100%;
  }
  .hide-small {
    display: none;
  }
}

/* /////////////////////////////////////////// PROJECTS PAGE /////////////////////////////////////////// */

/* -------------------- GO TO ICONS -------------------- */

.go-to-icon div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.go-to-icon img {
  position: absolute;
  object-fit: cover;
  transition: 0.5s all;
}

.icon-hover-title {
  color: white;
  opacity: 0;
  transition: 0.5s all;
}

.icon-hover-title h1 {
  font-size: 80px;
  font-weight: 700;
}

.go-to-icon div:hover {
  cursor: pointer;
  animation: none;
}

.go-to-icon div:hover img {
  opacity: 10%;
}

.go-to-icon div:hover .icon-hover-title {
  opacity: 1;
}

.icon-drone {
  position: absolute;
  top: 25%;
  left: 10%;
}

.icon-rethink {
  position: absolute;
  top: 18%;
  left: 32%;
}

.icon-puppr {
  position: absolute;
  top: 18%;
  left: 40%;
}

.icon-printer {
  position: absolute;
  top: 25%;
  right: 10%;
}

.icon-watch {
  position: absolute;
  top: 70%;
  left: 8%;
}

.icon-kong {
  position: absolute;
  top: 75%;
  right: 31%;
}

.icon-first {
  position: absolute;
  top: 70%;
  right: 12%;
}

@media (max-width: 768px) {
  .go-to-icon {
    display: none;
  }
}

/* -------------------- SHOW/HIDE PROJECTS -------------------- */

.project-content {
  color: white;
}

.project-content a {
  font-size: 28px;
  font-weight: 600;
}

.prev-project:hover,
.next-project:hover {
  cursor: pointer;
  color: var(--color-theme-light);
}

/* -------------------- PROJECT CONTENT -------------------- */

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  width: 100%;
  height: 100%;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.carousel-item {
  height: 590px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.project-overview {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.highlighted {
  color: var(--color-theme-light);
  font-weight: 700;
}

.project-content p {
  font-size: 22px;
  text-align: left;
}

@media (max-width: 768px) {
  .prev-project a,
  .next-project a {
    display: none;
  }
}

/* -------------------- PAGE ANIMATIONS -------------------- */

.page-fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.page-fade-out {
  animation: fadeOut ease 1s;
  -webkit-animation: fadeOut ease 1s;
  -moz-animation: fadeOut ease 1s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* -------------------- BOOTSTRAP PADDING FIX -------------------- */

[class*="col-"] {
  padding: 1rem;
}

/*
    Extra small (xs) devices (portrait phones, less than 576px)
    No media query since this is the default in Bootstrap

    Small (sm) devices (landscape phones, 576px and up)
    @media (min-width: 576px) { ... }

    Medium (md) devices (tablets, 768px and up) 
    @media (min-width: 768px) { ... }

    Large (lg) devices (desktops, 992px and up)
    @media (min-width: 992px) { ... }

    Extra large (xl) devices (large desktops, 1200px and up) 
    @media (min-width: 1200px) { ... }
    */
