@charset "ISO-8859-1";

body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Sen", sans-serif;
}

body {
	margin: 0;
}

.text-align-center {
	text-align: center;
}

/* Navigation */
.nav-top {
	top: 0;
	z-index: 1;
	position: fixed;
	width: 100%;
}

.nav-top a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 16px 20px;
	text-decoration: none;
	font-size: 22px;

	transition: 0.4s;
}

.nav-top .nav-right {
	float: right;
}

.nav-top .nav-icon {
	display: none;
	color: white;
	text-align: center;
	padding: 16px 20px;
	text-decoration: none;
	font-size: 22px;
	height: 27px;
}

.nav-top a:hover,
.nav-drop:hover .nav-drop-btn {
	color: black;
	background-color: skyblue;
	border-radius: 20px;
}

.nav-drop {
	overflow: hidden;
	float: left;
}

.nav-drop .nav-drop-btn {
	font-size: 22px;
	border: none;
	outline: none;
	color: white;
	padding: 16px 20px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;

	transition: 0.4s;
}

.nav-drop-content {
	display: none;
	position: absolute;
	background-color: inherit;
	min-width: auto;
	z-index: 1;
}

.nav-drop-content a {
	float: none;
	color: white;
	padding: 16px 20px;
	text-decoration: none;
	display: block;
	text-align: left;

	transition: 0.4s;
}

.nav-drop-content a:hover {
	color: black;
	background-color: skyblue;
	border-radius: 20px;
}

.nav-drop:hover .nav-drop-content {
	display: block;
}

@media screen and (max-width: 700px) {

	.nav-top .nav-right a,
	.nav-top .nav-drop-btn {
		display: none;
	}

	.nav-top a.nav-icon {
		display: block;
		float: right;
	}

	.nav-top.responsive {
		position: relative;
	}

	.nav-top.responsive .nav-icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	.nav-top.responsive .nav-right {
		float: left;
	}

	.nav-top.responsive a,
	.nav-top.responsive .nav-right a {
		float: none;
		display: block;
		text-align: left;
		color: black;
	}

	.nav-top.responsive .nav-right a {
		padding: 12px 100vw 12px 20px;
	}

	.nav-top.responsive .nav-drop {
		float: none;
	}

	.nav-top.responsive .nav-drop-content {
		position: relative;
	}

	.nav-top.responsive .nav-drop .nav-drop-btn {
		display: block;
		width: 100%;
		text-align: left;
		color: black;

	}
}

/* Main Photo */
.main-bg {
	width: 100%;
}

/* Intro */
.intro-name {
	font-size: 60px;
}

.intro-para {
	font-size: 30px;
	padding: 0px 50px;
}

/* Footer */
.foot {
	text-align: center;
}

.foot-contact {
	font-size: 24px;
	padding: 4px 16px;
	margin: 0px;
}

.foot-links {
	display: inline block;
}

.foot-links a {
	font-size: 28px;
	color: black;
	padding: 20px 16px;
	text-decoration: none;
}

.foot-links a:hover {
	color: skyblue;
}