.heading
  padding-top: 10vh
  padding: 12vh 32px 32px
  display: flex
  flex-direction: column
  gap: 0.6rem

  .heading-title-container
    display: flex
    flex-direction: row
    align-items: flex-start
    gap: 0.8rem
    flex-wrap: wrap

    .heading-title
      font-size: max(8vw, 3.2rem)

  .subtitle
    font-size: max(2.4vw, 1.4rem)
