$breakpoints: ( 'phone': 480px, 'tablet': 768px, 'laptop': 1024px, 'desktop': 1200px) !default
$media-expressions: ( 'screen': 'screen', 'print': 'print', 'handheld': 'handheld', 'retina2x': ( '(-webkit-min-device-pixel-ratio: 2)', '(min-resolution: 192dpi)' ), 'retina3x': ( '(-webkit-min-device-pixel-ratio: 3)', '(min-resolution: 350dpi)' )) !default
$unit-intervals: ( 'px': 1, 'em': 0.01, 'rem': 0.1) !default
