.landing-container {
  /* height: calc(100vh - var(--navbarHeight)); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
}

.pre-title {
  color: var(--accentColourBase);
  font-size: 2vw;
  font-weight: 500;
}
.title {
  font-size: 4vw;
  font-weight: 700;
  margin-left: -4px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.sub-title, .page-links {
  color: var(--fontColourAccentOne);
  font-size: 1.25vw;
  font-weight: 300;
}
.page-links {
  margin-top: 24px;
}
.page-link-item {
  text-decoration: none;
  color: var(--accentColourBase);
  font-weight: 500;
}

/* ----- media queries ----- */
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 600px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .pre-title {
    font-size: 4vw;
  }
  .title {
    font-size: 12vw;
  }
  .sub-title, .page-links {
    font-size: 3vw;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
}
