.scrolldown-container {
  position: absolute;
  width: 0px;
  bottom: 0;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  color: var(--fontColourBase);
  z-index: 10;
  animation: float 3s infinite;
}
.scrolldown-container:hover {
  cursor: pointer;
}

.scrolldown-mouse {
  font-size: 22px;
}
.scrolldown-text {
  font-size: 12px;
  padding-top: 5px;
}
.scrolldown-arrow {
  font-size: 16px;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
