.badge
  display: flex
  align-items: center
  justify-content: center
  background-color: var(--color-primary)
  gap: 0.4rem
  width: fit-content
  padding: 0.4rem 0.6rem
  border-radius: 0.6rem

  .icon
    width: 1.6rem

  .text
    color: var(--color-bg)
    font-size: 1.6rem
