.education
  padding: 32px
  display: flex
  flex-direction: column
  gap: 16px

  .item
    margin-bottom: 32px

    .title
      font-size: max(2vw, 1.4rem)
      display: flex
      flex-wrap: wrap

    .subtitle
      font-size: max(1.2vw, 1.2rem)
