.socials
  display: flex
  margin: 4px 0px

  &-sm
    gap: 16px

  &-md
    gap: 16px

  &-lg
    gap: 48px

  .item
    transition: 0.3s all

    &:hover
      cursor: pointer
      opacity: 1
      scale: 1.05

  .sm
    font-size: 1.6vw

  .md
    font-size: max(3.2vw, 2.8rem)

  .lg
    font-size: 4.8vw
