.experiences
  background-color: var(--color-primary)
  color: var(--color-bg)
  padding: 32px

  .experiences-container
    display: flex
    flex-direction: column
    gap: 16px

    .experience

      .company
        font-size: max(2vw, 1.4rem)

      .title
        color: var(--color-bg)
        font-size: max(1.4vw, 1.2rem)
