@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Sen&display=swap");

/* -------------------- ROOT VARIABLES -------------------- */

:root {
  --theme-color: #010030;
  --text-color: white;
  --accent-color: #00dfdf;
  --accent-color-2: midnightblue;
  --bg-accent-color: var(--theme-color);
  --webtheme-transition: 0.4s;

  --project-link-card-br: 10px;

  --preloader-width: 125px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0px 100px;

  transition: all var(--webtheme-transition) ease-in-out;
}

.theme-color {
  background-color: var(--theme-color);
  color: var(--text-color);
}

.hvr-underline-from-left:before {
  background: var(--accent-color) !important;
}

/* -------------------- PRELOADER -------------------- */
.preloader-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preloader-logobar {
  width: var(--preloader-width);
  /* background-color: grey; */
}

.preloader-img {
  width: var(--preloader-width);
}

.preloader-bar {
  position: relative;
  width: 35px;
  height: 8px;
  border-radius: 10px;
  background-color: var(--accent-color);
  animation: bar-bounce-2 1.5s ease-in-out infinite;
}

.main-content {
  display: none;
}

/* -------------------- NAVBAR -------------------- */

.navbar {
  padding: 0.3rem 200px !important;
  font-family: "Sen", sans-serif;
  transition: all var(--webtheme-transition) ease-in-out !important;
}

.navbar-bg {
  background-color: var(--bg-accent-color);
}

.navbar-brand {
  width: 40px;
}

.navbar-brand:hover {
  cursor: pointer;
}

.navbar-webtheme {
  width: 25px;
}

.navbar-nav li {
  padding-left: 24px;
}

.nav-link {
  font-size: 22px !important;
  color: var(--text-color) !important;
}

.navbar-active {
  color: var(--accent-color) !important;
}

/* -------------------- BANNER -------------------- */
.banner-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-text {
  font-size: 140px;
  margin-left: 10px;
}

.banner-subtext {
  font-size: 40px;
  margin-top: -5px;
  margin-left: 20px;
}

/* -------------------- PROJECT LINKS -------------------- */
.project-link-container {
  width: 100%;
}

.project-link-card {
  width: 100%;
  height: 400px;
  position: relative;
  border-radius: var(--project-link-card-br);
  display: flex;
  align-items: center;
  color: white !important;
}

.project-link-card img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  border-radius: var(--project-link-card-br);
}

.project-link-card-box {
  width: 100%;
  /* height: 60%; */
  position: absolute;
  display: flex;
  align-items: center;
  padding: 25px;
  /* border-radius: var(--project-link-card-br); */
  background-image: linear-gradient(
    to right,
    midnightblue,
    rgba(25, 25, 112, 0.9)
  );

  transition: transform 0.5s;
  transform-origin: right;
  transform: scaleX(0);
}

/* .project-link-card:hover {
  cursor: pointer;
} */

.project-link-card:hover .project-link-card-box {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1);
}

.project-link-card-content {
  opacity: 0;
}

.project-link-card-content p {
  font-size: 24px;
}

.project-link-card:hover .project-link-card-content {
  opacity: 1;
  transition: 0.5s;
  transition-delay: 0.5s;
}

.project-link-card-content h4 {
  padding-bottom: 10px;
}

.project-link-card-content h4:hover {
  cursor: pointer;
}

.button-container-banner {
  width: 100%;
  display: flex;
  justify-content: start;
  text-align: center;
  margin-top: 25px;
  margin-left: 15px;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 25px;
}

.button {
  padding: 10px 20px;
  font-size: 26px;
  font-weight: 600;
  border-radius: 100px;
  border: solid var(--accent-color) 5px;
  /* background-color: var(--accent-color); */
}

.button:hover {
  cursor: pointer;
}

/* -------------------- FOOTER -------------------- */
footer {
  height: 250px;
  margin-top: 50px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  /* background-color: orange; */
}

footer a {
  font-size: 60px;
  color: var(--text-color);
  margin: 0 20px;
  margin-bottom: 10px;
}

footer a:hover {
  color: var(--text-color);
}

/* ======================================== ABOUT.HTML ======================================== */
.about-container p {
  font-size: 22px;
}

.about-container img {
  float: left;
  padding: 10px;
  width: 30%;
}

/* ======================================== PROJECTS.HTML ======================================== */
.projects-container {
  width: 100%;
  /* background-color: yellow; */
}

.project-card {
  width: 100%;
  min-height: 50px;
  margin-bottom: 10px;
  background-color: midnightblue;
  border-radius: 10px;
  padding: 10px;
}

.project-card:hover {
  cursor: pointer;
}

.project-card h1 {
  font-size: 32px;
}

.project-card h2 {
  font-size: 24px;
}

.project-card h3 {
  font-size: 20px;
  margin-top: -8px;
}

.project-content {
  width: 100%;
  min-height: 50px;
  /* background-color: orange; */
}

.project-content p {
  font-size: 22px;
}

.project-content img {
  position: relative;
  padding: 10px;
}

.dk-img {
  width: 47%;
  float: left;
}

.first-img {
  width: 50%;
  float: right;
}

/* -------------------- MEDIA QUERIES -------------------- */
/* tablets */
@media (max-width: 992px) {
  html,
  body {
    padding: 0px 50px;
  }
  .navbar {
    padding: 0.8rem 100px !important;
  }
}
/* phones */
@media (max-width: 768px) {
  html,
  body {
    padding: 0px 10px;
  }
  .navbar {
    padding: 0.8rem 30px !important;
  }

  .banner-text {
    font-size: 42px;
    margin-left: 0;
  }
  .banner-subtext {
    font-size: 20px;
    margin-left: 5px;
  }

  .button-container-banner {
    margin-left: 0;
    margin-top: 5px;
  }
  .button {
    font-size: 16px;
  }

  .project-link-container h1 {
    font-size: 24px;
  }
  .project-link-card {
    height: 200px;
  }
  .project-link-card-box {
    padding: 10px;
  }
  .project-link-card-content h2 {
    font-size: 22px;
  }
  .project-link-card-content p {
    font-size: 16px;
  }
  .project-link-card-content h4 {
    font-size: 18px;
    padding-bottom: 5px;
  }

  footer {
    height: 150px;
  }
  footer h1 {
    font-size: 22px;
  }
  footer a {
    font-size: 30px;
  }
  footer h3 {
    font-size: 20px;
  }

  .about-container img {
    float: none;
    width: 100%;
  }

  .project-card h1 {
    font-size: 24px;
  }
  .project-card h3 {
    font-size: 20px;
  }
  .project-card h2 {
    font-size: 22px;
  }

  .dk-img,
  .first-img {
    float: none;
    width: 100%;
  }
}

/* -------------------- ANIMATIONS -------------------- */

@keyframes bar-bounce-1 {
  0% {
    width: 20px;
    float: left;
  }
  24% {
    width: var(--preloader-width);
    float: left;
  }
  25% {
    width: var(--preloader-width);
    float: right;
  }
  50% {
    width: 20px;
    float: right;
  }
  74% {
    width: var(--preloader-width);
    float: right;
  }
  75% {
    width: var(--preloader-width);
    float: left;
  }
  100% {
    width: 20px;
    float: left;
  }
}

@keyframes bar-bounce-2 {
  0% {
    left: 0px;
  }
  50% {
    left: calc(var(--preloader-width) - 35px);
  }
  100% {
    left: 0px;
  }
}

.page-fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.page-fade-out {
  animation: fadeOut ease 1s;
  -webkit-animation: fadeOut ease 1s;
  -moz-animation: fadeOut ease 1s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* -------------------- BOOTSTRAP PADDING FIX -------------------- */

[class*="col-"] {
  padding: 1rem;
}

/*
    Extra small (xs) devices (portrait phones, less than 576px)
    No media query since this is the default in Bootstrap

    Small (sm) devices (landscape phones, 576px and up)
    @media (min-width: 576px) { ... }

    Medium (md) devices (tablets, 768px and up) 
    @media (min-width: 768px) { ... }

    Large (lg) devices (desktops, 992px and up)
    @media (min-width: 992px) { ... }

    Extra large (xl) devices (large desktops, 1200px and up) 
    @media (min-width: 1200px) { ... }
    */
